/* Variables */

$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333333;
$red: #ff1755;
$font-family: 'Montserrat';
$font-light-weight: 200;
$font-size-nornal: 18px;
$font-size-medium: 30px;
$font-size-large: 45px;


/* Mixins */

@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

body {
    font-family: $font-family;
    font-size: 12px;
    color: $black;
    font-weight: 400;
    font-style: normal;
}

html, body{
  height: 100%;
}

h1,
h2,
h3,
p {
  font-family: $font-family;
  font-weight: $font-light-weight;
}

a {
    text-decoration: none;
    @include transition(.4s ease-in-out);
    cursor: pointer;

    &:hover {
        color: $red;
        @include transition(.4s ease-in-out);
    }
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #f05f40;
}

.container-fluid {
    line-height: 24px;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.full-screen {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hori-centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
