/* Variables */

$black: #010000;
$white: #ffff;
$lightGrey: #e6e6e6;
$darkGrey: #333333;
$red: #ff1755;
$lightPink: #f7bac9;
$pink: #ff6d95;
$yellow: #f9f6bd;
$font-family: 'Montserrat';
$font-light-weight: 200;
$font-size-nornal: 14px;
$font-size-medium: 30px;
$font-size-large: 45px;
$font-size-extra-large: 54px;


/* Mixins */

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}


body {
  font-family: $font-family;
  font-size: 12px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

html, body{
  min-height: 100vh;
  height: 100%;
}

h1,
h2,
h3,
p {
  font-family: $font-family;
  font-weight: $font-light-weight;
}

h3 {
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 3.5em;
  text-transform: uppercase;
}

p {
  font-size: $font-size-nornal;
  line-height: 42px;
}

a {
    text-decoration: none;
    @include transition(.4s ease-in-out);
    cursor: pointer;

    &:hover {
        color: $red;
        @include transition(.4s ease-in-out);
    }
}

b, strong {
    font-weight: bold;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $white;
}

ul li {
  font-size: $font-size-nornal;
}

.container-fluid {
    line-height: 24px;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.full-screen {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hori-centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.page-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 96px 60px;
}

.Index-page-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 96px 60px;
}

.Top-padding {
  padding-top: 58px;
}
