@import 'config.scss';

/* HOME PAGE SET UP */
.wrapper {
  height: 100%;

  .main-bg {
    background-image: url('http://www.getmdl.io/assets/demos/transparent.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Full height */
    height: 100%;

    position: fixed;
    min-width: 100%;
    min-height: 100%;
  }
}

/* HEADER */
.logo i {
  color: $white;
  font-size: 29px;
}

header {
  display: block;
  position: relative;
  width: 100%;
  background: $black;
  color: $white;
  height: 80px;

  .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    @include translateY(-50%);
  }
}

nav,
nav ul,
nav ul li {
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  top: 50%;
  right: 15px;
  @include translateY(-50%);

  ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;

    &:nth-last-child(1) {
      margin: 0;
    }
}
    a {
      font-size: 19px;
      line-height: normal;
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }

}

/* HOME PAGE CONTENT */
.page-content-container {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.1)));
  background: linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;

  h1 {
    font-size: 66px;
    font-weight: bold;
    color: $white;
  }

    hr {
      border-top: 5px dotted $white;
      width: 50%;
      margin: auto;
    }

      p {
        color: $white;
        font-size: 20px;
        padding: 1em;
      }
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;

  i {
    color: white;
    font-size: 5em;
    padding: 8px;
  }
}

/* Footer */
.contact {
  background-color: #f5f5dcab;
  padding: 2rem 0;

  i {
    color: $darkGrey;
    font-size: 52px;
  }
}

@media (min-width: 992px) {
  footer {
      height: 100vh;
  }
}
