@import "config.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

/* HEADER */

header {
  display: block;
  position: relative;
  width: 100%;
  background: $black;
  color: $white;
  height: 60px;
  z-index: 2;

  .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    @include translateY(-50%);
  }
}

/* HEADER NAVIGATION */

nav,
nav ul,
nav ul li {
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  top: 50%;
  right: 15px;
  @include translateY(-50%);

  ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 38px;

    &:last-child {
      padding-right: 0;
    }

    a {
      font-size: 19px;
      line-height: normal;
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

/* HOME PAGE CONETENT */

#main {
  background-image: url('/img/moutain.jpg');
  // background: $pink;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  position: fixed;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

}

.banner-text {
  opacity: .8;
  margin: auto;
  border-radius: 10px;

  h1 {
    font-size: $font-size-large;
    color: $white;
  }

    hr {
        margin: auto;
    }

      p {
        color: $white;
        font-size: $font-size-nornal;
        padding: 1em;
      }
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;

  i {
    color: $white;
    font-size: 5em;
    padding: 8px;
  }
}

/* ABOUT PAGE CONETENT */


/* PORTFOLIO PAGE CONETENT */

.section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: $white;
  color: $black;
  // height: 50vh;

    &:nth-child(even) {
      background-color: $pink;
    }

      .content-left,
      .content-right {
        /* Flexbox stuff */
        // display: flex;
        // justify-content: center;
        // align-items: center;
        padding: 8rem 0;

        /* Text styles */
        text-align: center;
      }

    .project-icon {
      width: 50%;
    }
}
