@import "config.scss";

header {
  display: block;
  position: relative;
  width: 100%;
  background: $black;
  color: $white;
  height: 80px;

  .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    @include translateY(-50%);
  }
}

nav,
nav ul,
nav ul li {
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  top: 50%;
  right: 15px;
  @include translateY(-50%);

  ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;

    ul li:nth-last-child() {
      margin: 0;
    }

    a {
      font-size: 19px;
      line-height: normal;
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }
  }
}





.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
